.form-custom .sub-title.h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}
.form-custom .label-stacked {
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #00EEE0;
  font-size: 12px;
  line-height: 18px;
}
.form-custom ion-item.item-has-value .label-stacked {
  font-weight: normal;
  font-size: 12px;
  color: #456B80;
}
.form-custom ion-item {
  --border-color: #00EEE0;
}
.form-custom ion-item.md {
  --padding-top:10px;
}
.form-custom ion-input, .form-custom ion-textarea {
  --color: #fff;
}
.form-custom .label-stacked.sc-ion-label-md-h {
  transform: none;
}
.form-custom ion-datetime {
  --padding-start: 0;
  --color: #fff;
  color: #fff;
}
.form-custom ion-item.photo {
  --border-width: 0px;
  --border-color: rgba(255,255,255, 0);
  border: none;
}
.form-custom .component-upload-photo {
  position: relative;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-image: url("/assets/bg-photo-empty.jpg");
  background-size: 100%;
  overflow: hidden;
  text-align: center;
  margin: 2px;
}
.form-custom .component-upload-photo img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
.form-custom .component-upload-photo ion-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.form-custom ion-button.btn-take-photo {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --box-shadow: 0;
  --background: #304B57;
  box-shadow: none;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  --border-radius: 32px;
}
.form-custom ion-button.btn-take-photo ion-icon {
  font-size: 16px;
}

.heading-page .title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

ion-button[size=large] {
  height: 44px;
  line-height: 44px;
}
ion-button[size=large] button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

ion-button[size=large].md {
  font-size: 16px;
  line-height: 20px;
}

ion-button[size=default] {
  height: 36px;
  line-height: 36px;
}
ion-button[size=default] button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

ion-button[size=default].md {
  font-size: 14px;
  line-height: 36px;
}

ion-button[size=small] {
  height: 27px;
  line-height: 27px;
}
ion-button[size=small] button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

ion-button[size=small].md {
  font-size: 12px;
  line-height: 27px;
}

ion-button.md {
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-radius: 10px;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}

ion-button.ios {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  letter-spacing: 0.2px;
}

ion-toast {
  --border-color: #fff;
  --border-radius: 0px;
  --border-style: solid;
  --border-width: 1px;
}
ion-toast.ion-color-success {
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62 !important;
  --ion-color-success-tint: #42d77d !important;
}

ion-toast.custom-toast .toast-content {
  --padding: 12px 10px;
}
ion-toast.custom-toast img {
  vertical-align: middle;
}

.toast-message {
  background-color: red;
}
.toast-message img {
  vertical-align: middle;
}

ion-header.logged {
  box-shadow: 0px 5px 10px #00000020;
}
ion-header.logged ion-toolbar {
  --background: #00A79D;
  --color:#fff;
}

ion-header.logged ion-title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

ion-header.main ion-title {
  font-weight: 700;
  font-size: 16px;
}
ion-header.main ion-button {
  --box-shadow: none;
  --background-focused-opacity: 0;
  --background-activated-opacity: 0;
  --background-hover-opacity: 0;
  --ripple-color: (255,255,255,0) ;
}
ion-header.main ion-button.ios {
  box-shadow: none;
}
ion-header.main ion-button.ios ion-icon, ion-header.main ion-button.ios span {
  color: #00A79D;
}

ion-button.clear-button {
  --box-shadow: none;
  --background: none;
  --background-focused-opacity: 0;
  --background-activated-opacity: 0;
  --background-hover-opacity: 0;
  --ripple-color: (255,255,255,0);
  --padding-start: 0;
  --padding-end: 0;
  box-shadow: none;
}

/*# sourceMappingURL=custom.css.map */
