
.form-custom {
  .sub-title {
    &.h3 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  }
  .label-stacked {
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #00EEE0;
    font-size: 12px;
    line-height: 18px;
  }
  ion-item.item-has-value {
    .label-stacked {
      font-weight: normal;
      font-size: 12px;
      color: #456B80;
    }
  }
  ion-item {
    --border-color: #00EEE0;
    &.md {
       --padding-top:10px;
    }
  }
  ion-input, ion-textarea {
    --color: #fff;
  }
  .label-stacked.sc-ion-label-md-h {
    transform: none;
  }
  ion-datetime {
    --padding-start: 0;
    --color: #fff;
    color:#fff;
  }
  ion-item.photo {
    --border-width: 0px;
    --border-color: rgba(255,255,255, 0);
    border:none;
  }
  .component-upload-photo {
    position: relative;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: url("/assets/bg-photo-empty.jpg");
    background-size: 100%;
    overflow: hidden;
    text-align: center;
    margin: 2px;
    img {
      height: 100%;
      width: auto;
      margin: 0  auto;
    }
    ion-button {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
  ion-button.btn-take-photo {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --box-shadow: 0;
    --background: #304B57;
    box-shadow: none;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    --border-radius: 32px;
    ion-icon {
      font-size: 16px;
    }
  }
}


.heading-page {
  .title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
}

ion-button[size="large"]  {
  height: 44px;
  line-height: 44px;
  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
ion-button[size="large"].md{
  font-size: 16px;
  line-height: 20px;
}

ion-button[size="default"]  {
  height: 36px;
  line-height: 36px;
  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
ion-button[size="default"].md{
  font-size: 14px;
  line-height: 36px;
}

ion-button[size="small"]  {
  height: 27px;
  line-height: 27px;
  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
ion-button[size="small"].md{
  font-size: 12px;
  line-height: 27px;
}

ion-button.md{
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-radius: 10px;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}
ion-button.ios  {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  letter-spacing: 0.2px;
}

ion-toast {
  &.ion-color-success {
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62 !important;
    --ion-color-success-tint: #42d77d !important;
  }
  --border-color: #fff;
  --border-radius: 0px;
  --border-style: solid;
  --border-width: 1px;
}
ion-toast.custom-toast {
  .toast-content {
    --padding: 12px 10px;
  }
  img {
    vertical-align: middle;
  }
}
.toast-message {
  background-color: red;
  img {
    vertical-align: middle;
  }
}


ion-header.logged {
  box-shadow: 0px 5px 10px #00000020;
  ion-toolbar {
    --background: #00A79D;
    --color:#fff;
  }
}
ion-header.logged ion-title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
ion-header.main {
  ion-title {
    font-weight: 700;
    font-size: 16px;
  }
  ion-button{
    --box-shadow: none;
    --background-focused-opacity: 0;
    --background-activated-opacity: 0;
    --background-hover-opacity: 0;
    --ripple-color: (255,255,255,0)
  }
  ion-button.ios {
    box-shadow: none;
    ion-icon,span {
      color: #00A79D;
    }
  }
}

ion-button.clear-button {
  --box-shadow: none;
  --background: none;
  --background-focused-opacity: 0;
  --background-activated-opacity: 0;
  --background-hover-opacity: 0;
  --ripple-color: (255,255,255,0);
  --padding-start: 0;
  --padding-end: 0;
  box-shadow: none;
}
