
@import 'filter-component';

.form-custom {
  .sub-title {
    &.h3 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  }
  .label-stacked {
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #00EEE0;
    font-size: 12px;
    line-height: 18px;
  }
  ion-item.item-has-value {
    .label-stacked {
      font-weight: normal;
      font-size: 12px;
      color: #456B80;
    }
  }
  ion-item {
    --border-color: #00EEE0;
    &.md {
       --padding-top:10px;
    }
  }
  ion-input, ion-textarea {
    --color: #fff;
  }
  .label-stacked.sc-ion-label-md-h {
    transform: none;
  }
  ion-datetime {
    --padding-start: 0;
    --color: #fff;
    color:#fff;
  }
  ion-item.photo {
    --border-width: 0px;
    --border-color: rgba(255,255,255, 0);
    border:none;
  }
  .component-upload-photo {
    position: relative;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: url("/assets/bg-photo-empty.jpg");
    background-size: 100%;
    overflow: hidden;
    text-align: center;
    margin: 2px;
    img {
      height: 100%;
      width: auto;
      margin: 0  auto;
    }
    ion-button {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
  ion-button.btn-take-photo {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --box-shadow: 0;
    --background: #304B57;
    box-shadow: none;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    --border-radius: 32px;
    ion-icon {
      font-size: 16px;
    }
  }
}


.heading-page {
  .title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
  }
}

ion-button[size="large"]  {
  height: 44px;
  line-height: 44px;
  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
ion-button[size="large"].md{
  font-size: 16px;
  line-height: 20px;
}

ion-button[size="default"]  {
  height: 36px;
  line-height: 36px;
  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
ion-button[size="default"].md{
  font-size: 14px;
  line-height: 36px;
}

ion-button[size="small"]  {
  height: 27px;
  line-height: 27px;
  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
ion-button[size="small"].md{
  font-size: 12px;
  line-height: 27px;
}

ion-button.md{
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --border-radius: 10px;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}
ion-button.ios  {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  letter-spacing: 0.2px;
}

ion-toast {
  &.ion-color-success {
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62 !important;
    --ion-color-success-tint: #42d77d !important;
  }
  --border-color: #fff;
  --border-radius: 0px;
  --border-style: solid;
  --border-width: 1px;
}
ion-toast.custom-toast {
  .toast-content {
    --padding: 12px 10px;
  }
  img {
    vertical-align: middle;
  }
}
.toast-message {
  background-color: red;
  img {
    vertical-align: middle;
  }
}



ion-header.main {
  ion-toolbar {
    min-height: 50px;
  }
  ion-title {
    font-weight: 700;
    font-size: 16px;
  }
  ion-button{
    --box-shadow: none;
    --background-focused-opacity: 0;
    --background-activated-opacity: 0;
    --background-hover-opacity: 0;
    --ripple-color: (255,255,255,0)
  }
  ion-button.ios {
    box-shadow: none;
    ion-icon,span {
      color: #00A79D;
    }
  }
}

ion-header.main.logged ion-title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
ion-header.main.logged {
  box-shadow: 0px 5px 10px #00000020;
  ion-toolbar {
    --background: #00A79D;
    --color:#fff;
    --border-color:transparent;
    color:#fff;
    button,ion-button, span {
      --color:#fff;
      color:#fff;
    }
  }
}


ion-button.clear-button {
  --box-shadow: none;
  --background: none;
  --background-focused-opacity: 0;
  --background-activated-opacity: 0;
  --background-hover-opacity: 0;
  --ripple-color: (255,255,255,0);
  box-shadow: none;
}

ion-item.segment-handled {
  display: block;
  flex: none;
  --padding-top:0;
  --height: auto;
  --min-height: initial;
  height: auto;
  ion-label.label {
    overflow: visible;
    display: block;;
  }
}

ion-segment {
  --background: #F3F3F3;
}
ion-segment-button::part(indicator-background) {
  --background-color: #456B80;
  background-color: #456B80;
}
ion-segment-button {
  color:#BDBDBD;
  --color:#BDBDBD;
  &.segment-button-checked {
    --color:#fff;
    color:#fff;
  }
}

ion-select::part(text) {
  color:#BDBDBD;
  --color:#BDBDBD;
}

.wrap-content {
  margin-left: unset;
  margin-right: unset;
  margin-inline: 16px;
}


.search-component {
  margin-inline: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  ion-icon {
    --color:#D7D7D7;
    color:#D7D7D7;
    line-height: 40px;
    vertical-align: text-top;
  }
  .count-label {
    color:#ACACAC;
    font-size: 12px;
    line-height: 16px;
    padding-top: 7px;
  }
}
.input-search {
  background-color: #fff;
  --background: #fff;
  border:solid 1px #D7D7D7;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
  --webkit-border-radius: 10px;
  position: relative;
  input{
    height: 100%;
    border:none;
    padding:0 0 0 10px;
    margin:0;
    vertical-align: top;
    display: inline-block;
    &::-webkit-input-placeholder { /* Edge */
      color: #D7D7D7;
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #D7D7D7;
    }
    
    &::placeholder {
      color: #D7D7D7;
    }
  }
}

.input-search input:hover,
.input-search input:focus,
.input-search input:active{
  outline:none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.component-listing,.component-news {
  .wrap-image {
    text-align: center;
    position: relative;
    img {
      display: block;
    }
    .feature-img {
      width: 100%;
    }
    ul {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding-left: 0;
      list-style: none;
      display: block;
      margin: 0 auto;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      li {
        padding: 0 8px;
        color:#fff;
        display: inline-block;
        width: auto;
        font-size: 12px;
        line-height: auto;
        img, span {
          height: 14px;
          display: inline-block;
          vertical-align: middle;
        }
        img {
          padding-right: 8px;
        }
      }
    }
  }
  ion-card-subtitle {
    color:#6A6A6A;
    font-size: 11px;
    line-height: 14px;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  ion-card-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 3px;
  }
  ion-card-header {
    --padding-start: 15px;
    --padding-end: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .wrap-header {
      position: relative;
      padding-right: 80px;
      .status {
        width: 70px;
        position: absolute;
        right:0;
        top:6px;
        max-width: 70px;
        width: 100%;
        border:solid 1px #ccc;
        padding: 0px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;
        font-size: 11px;
        height: 24px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        span {
          line-height: inherit;
        }
      }
      .price {
        font-size: 14px;
        line-height: 18px;
        color:#000;
      }
    }
  }

  ion-item.list-item {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
      --padding-start:0px
  }

  ion-item.list-item .item-native {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  } 
  ion-card {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
  }
}


.component-news {
  ion-card-header {
    --padding-bottom: 5px;
    padding-bottom: 5px;
    .wrap-header {
      padding-right: 0;
    }
  }
  ion-card-subtitle {
    font-size: 14px;
    line-height: 18px;
  }
  ion-card-content {
    --padding-start:16px;
    padding-left: 16px;
    --padding-end:16px;
    padding-right: 16px;
  }
}

.fab-button-custom {
  ion-fab-button {
    --background:#00A79D;
    &:hover,
    &:focus{
      --background:#00A79D;
    }
  }
}

.ion-tabs-custom ion-tab-bar{
  height: 57px;
  ion-icon {
    height:20px;
    margin-bottom: 5px;
  }
  ion-tab-button {
    color: #304B57;
    text-transform: uppercase;
    letter-spacing: 5%;
    font-size: 10px;
    &.tab-selected{
      color:#00A79D;
    }
  }
}

#side-menu {
  z-index: 999;
}

.logged {
  .header-md::after {
    content: none;
  }
  .header-ios ion-toolbar:last-of-type {
    --border-width:0;
  }
  .toolbar-container {
    padding: 0!important;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding: 0;
    margin: 0;
  }
}

.dashboard-page {
  ion-slides {
    --bullet-background: #00A79D;
    --bullet-background-active: #00A79D;
    background-color: #00A79D;
  }
  .search-dashboard {
    padding-top: 15px;
    padding-bottom: 15px;
    ion-icon {
      --color:#D7D7D7;
      color:#D7D7D7;
      line-height: 40px;
      vertical-align: text-top;
    }
  }
  .slider-listing {
    padding-bottom: 30px;
    min-height: 100px;
    background-color: transparent;
  }
}

.btn-notification {
  --box-shadow: none;
  box-shadow: none;
  font-size: 26px;
  position: relative;
  padding: 0 10px;
  letter-spacing: initial;
  margin: 0;
  overflow: initial;
  height: 26px;
  display: inline-block;
  .button-native {
    overflow: initial;
    contain:inherit;
  }
  ion-badge {
    font-size: 12px;
    --background:#E10338;
    border-radius: 10px;
    background-color: #E10338;
    position: absolute;
    left: 23px;
    top: 0;
    height: 16px;
    line-height: 16px;
    padding: 0px 5px;
    max-width: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ion-icon {
    color:#304B57;
    font-size: 26px;
  }
}

ion-modal.modal-component {
  .header-ios ion-toolbar:last-of-type {
    --border-width: 0;
  }
  ion-toolbar {
    --color: #000;
  }
  ion-header ion-title {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
  ion-header {
    ion-toolbar {
      min-height: 50px;
    }
    box-shadow: 0px 5px 10px #00000020;
  }
  
  ion-header ion-toolbar {
      --background: #fff;
      --color:#000;
      color:#000;
  }
  
  ion-header ion-toolbar button,
  ion-header ion-toolbar ion-button.ios span,
  ion-header ion-toolbar span {
    font-size: 16px;
    color: #BDBDBD;
  }
  ion-item {
    --padding-start:0;
  }
  
  ion-item.item-has-value .label-stacked {
    font-weight: normal;
    font-size: 12px;
    color: #456B80;
  }
  .form-custom .sub-title.h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .form-custom .label-stacked {
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #456B80;
    font-size: 12px;
    line-height: 18px;
  }
  .form-custom ion-item.item-has-value .label-stacked {
    font-weight: normal;
    font-size: 12px;
    color: #456B80;
  }
  .form-custom ion-item {
    --border-color: #D7D7D7;
  }
  .form-custom ion-item.md {
    --padding-top:10px;
  }
  .form-custom ion-input, .form-custom ion-textarea {
    --color: #BDBDBD;
  }
  .form-custom .label-stacked.sc-ion-label-md-h {
    transform: none;
  }
}

.modal-notification {
  ion-content {
    ion-item {
      ion-label {
        padding: 15px 10px;
        margin-inline: 0;
      }
      span {
        display: block;
      }
      .date {
        font-size: 11px;
        line-height: 11px;
        color:#ACACAC;
      }
      .title {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
      }
      .desc {
        font-size: 12px;
        line-height: 18px;
      }
      &.readed {
        .title,.desc {
          color:#868686;
        }
      }
    }
  }
}

.wrap-toggle-slide, .wrap-card-news, .wrap-list-transactions {
  ion-segment {
    width: 180px;
    margin: 0 auto 20px;
  }
  .swiper-slide img {
    height: initial;
  }
  .card-header-info {
    .seeMore {
      font-size: 12px;
      line-height: 16px;
      color:#2AB2FF;
      text-decoration: none;
      padding:5px 0;
    }
    .title {
      font-size: 14px;
      letter-spacing: 5%;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.toolbar-search-dashboard {
  --padding-start:0;
  --padding-end:0;
  --padding-top:0;
  --padding-bottom:0;
}

.component-transaction {
  ion-item {
    display: block;
    --padding-start:0;
    --padding-end:0;
    --inner-padding-end: 0px;
    padding: 0;
  }
  .item-row {
    padding:16px;
  }
  .date {
    font-size: 11px;
    color:#ACACAC;
    line-height: 15px;
  }
  .title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pubid {
    color:#456B80;
    font-size: 12px;
  }
}

ion-chip.status {
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  ion-label {
    text-align: center;
    min-width: 60px;
  }
  &.ion-color-success {
    border-color:#00AF6E;
    color:#00AF6E;
    --color:#00AF6E;
    --background:#00AF6E;
  }
  &.ion-color-warning {
    border-color:#FDAF30;
    color:#FDAF30;
    --color:#FDAF30;
    --background:#FDAF30;
  }
  &.ion-color-danger {
    border-color:#E83D66;
    color:#E83D66;
    --color:#E83D66;
    --background:#E83D66;
  }
  &.ion-color-secondary {
    border-color:#2AB2FF;
    color:#2AB2FF;
    --color:#2AB2FF;
    --background:#2AB2FF;
  }
}